
<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{{- with .Site.Params.themeColor }}
	<meta name="theme-color" content="{{.}}">
	<meta name="msapplication-TileColor" content="{{.}}">
	{{- end }}
	{{- partial "structured-data.html" . }}
	{{- partial "favicons.html" }}
	<title>{{.Title}}</title>
	{{ range .AlternativeOutputFormats -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Title | safeHTML }}
	{{ end -}}
	{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint -}}
	<link rel="stylesheet" href="{{ $style.Permalink }}" {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous">
	{{ if .Site.Params.bgImg -}}
	<style>.bg-img {background-image: url('{{.Site.Params.bgImg}}');}</style>
	{{- else if .Site.Params.images -}}
		{{- range first 1 .Site.Params.images -}}
		<style>.bg-img {background-image: url('{{. | absURL}}');}</style>
		{{- end -}}
	{{- end -}}
	{{- range .Site.Params.customCSS }}
	<link rel="stylesheet" href="{{ . | absURL }}">
	{{- end }}
	{{- if templates.Exists "partials/extra-head.html" -}}
	{{ partial "extra-head.html" . }}
	{{- end }}
</head>

<body id="page">
    {{ block "header" . -}}{{ end -}}
    {{- if (or .Site.Params.images .Site.Params.bgImg) }}
	<div class="bg-img"></div>
	{{- end }}
	<div id="spotlight" class="animated fadeIn">
		<div id="home-center">
            <div id="title-center">
                <a href="#"><img style="display: inline-block;" class="" width="250px"  src="{{ .Site.BaseURL }}/images/{{ .Site.Params.defaultImageInverse }}" alt="{{ .Site.Title }}"></a>
            </div>
			{{- with .Site.Params.homeSubtitle }}
			<p id="home-subtitle">{{.}}</p>
			{{- end }}
			{{- with .Site.Params.social }}
			<div id="home-social">
				{{ partialCached "social-icons.html" . }}
			</div>
			{{- end }}
			<nav id="home-nav" class="site-nav">
				{{ partialCached "menu.html" . }}
			</nav>
		</div>
		<div id="home-footer">
			<p>
				&copy; {{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a>{{ .Site.Params.footerCopyright | safeHTML }}
			</p>
		</div>
	</div>

	{{ $main := resources.Get "js/main.js" -}}
	{{ if .Site.Params.code_copy_button | default true -}}
		{{ $codeCopy := resources.Get "js/code-copy.js" -}}
		{{ $script := slice $main $codeCopy | resources.Concat "js/bundle.js" | minify | fingerprint -}}
		<script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous"></script>
	{{ else -}}
		{{ $script := $main | minify | fingerprint -}}
		<script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous"></script>
	{{ end }}

	{{- partial "analytics.html" . }}
	{{- if templates.Exists "partials/extra-foot.html" -}}
	{{ partial "extra-foot.html" . }}
	{{- end }}
</body>

</html>
